.login-page{
    background: linear-gradient(135deg, #f7f7f7, #eef8ea);
}

.login-card{
    width: 430px;
    border-radius: 20px;
    background: white;
}

.form-control{
    height: 50px;
    border-radius: 12px;
}

.btn-success{
    background-color: #45c218;
    border: none;
    border-radius: 12px;
}

.btn-success:hover{
    background-color: #38a814;
}