.sidebar{
    width: 280px;
    min-height: 100vh;
}

.topbar{
    height: 70px;
}

.subLink{
    padding: 10px 14px;
    margin-bottom: 6px;
    border-radius: 8px;
    display: block;
    color: white;
    text-decoration: none;
    transition: 0.2s;
    cursor: pointer;
}
