/* BACKDROP (ztmavení) */
.modal-backdrop-custom {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal-backdrop-custom-second{
    z-index: 1100;
}

/* CENTER MODAL */
.modal-custom {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.modal-custom-second{
    z-index: 1101;
}

/* BOX */
.modal-content-custom {
    background: white;
    padding: 20px;
    border-radius: 10px;
    min-width: 500px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}